<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-xs-3 col-sm-2 col-md-2">
        <%= image_tag message.user.picture, class: "media-object", style: "height: 50px; width: 50px;" %>
      </div>
      <div class="col-xs-9 col-sm-10 col-md-10">
        <%= message.body %>
      </div>
    </div>
  </div>
</div>
