<div class="panel panel-default">
  <div class="panel-body">
    ราคาแนะนำ <%= delimiter(no_precision(suggestion_price(deals_hash))) %> บาท/ตัน<br>
    <small>(<%= number_with_precision(deals_hash[suggestion_price(deals_hash)] * 100.0 / deals.count, precision: 2) %>% ของข้อเสนอที่สำเร็จทั้งหมด)</small>
  </div>
</div>
