<div role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">

    <li role="presentation" class="active">
      <a href="#announcement-purchase" aria-controls="announcement-purchase" role="tab" data-toggle="tab">ประกาศซื้ออ้อย</a>
    </li>

    <li role="presentation">
      <a href="#announcement-sale" aria-controls="announcement-sale" role="tab" data-toggle="tab">ประกาศขายอ้อย</a>
    </li>

    <li role="presentation">
      <a href="#review" aria-controls="review" role="tab" data-toggle="tab">รีวิว</a>
    </li>

  </ul>

  <!-- Tab panes -->
  <div class="tab-content">

    <div role="tabpanel" class="tab-pane active" id="announcement-purchase">
      <div class="row">
        <% @announcements_purchase.each do |announcement| %>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <%= render partial: 'announcements/announcement_card', locals: {announcement: announcement} %>
          </div>
        <% end %>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="announcement-sale">
      <div class="row">
        <% @announcements_sale.each do |announcement| %>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <%= render partial: 'announcements/announcement_card', locals: {announcement: announcement} %>
          </div>
        <% end %>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="review">
      <div class="row">
        <% @reviews.each do |review| %>
          <div class="col-md-12">
            <%= render partial: "reviews/review", locals: {review: review} %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
