<% provide(:title, @user.name) %>
<% provide(:user_form_button, 'Save changes') %>

<h1><%=t 'views.users.edit.update_profile' %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user, url: user_path(@user.id, locale: I18n.locale) do |f| %>
      <%= render partial: 'form', locals: {f: f} %>
    <% end %>
  </div>
</div>

<script>
  $("#user_email").prop("disabled", true);
</script>
