<% provide(:title, t('sign_up')) %>
<% provide(:user_form_button, t('sign_up')) %>

<div class="row">
  <div class="col-md-offset-1 col-md-4" id="sign_up_with_social">
    <%= link_to t('views.users.new.sign_up_with_facebook'), '#', class: 'btn btn-default btn-lg btn-block' %>
    <%= link_to t('views.users.new.sign_up_with_twitter'), '#', class: 'btn btn-default btn-lg btn-block' %>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%=t 'views.users.new.sign_up_with_email' %>
      </div>
      <div class="panel-body">
         <%= render 'form' %>
      </div>
    </div>
  </div>

</div>
