// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome";


$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%); // #222
$gray-dark:              lighten($gray-base, 20%);   // #333
$gray:                   lighten($gray-base, 33.5%); // #555
$gray-light:             lighten($gray-base, 46.7%); // #777
$gray-lighter:           lighten($gray-base, 93.5%); // #eee

$brand-primary:         #428bca;
$brand-primary-dark:    darken($brand-primary, 6.5%);
$brand-primary-light:   lighten($brand-primary, 6.5%);
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;

body {
  padding-top: 60px;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

// user picture -------------------------------------------------------------------

#nav-user-picture {
  height: 25px;
  width: 25px;
}

#show-user-picture {
  height: 200;
  width: 200px;
}

#error_explanation {
  ul {
    list-style: none;
    display: block;
    color: red;
  }
}

// static page index -------------------------------------------------------------
#jumbotron-attraction {
  background-color: gray;
  color: white;
  text-shadow: 2px 2px 5px black;
  text-align: center;
}

.announcement-card {
  &:hover {
    box-shadow: 1px 1px 5px black;
  }
  a:hover {
    text-decoration: none;
  }
}

.btn-sale-deal {
  background-color: $brand-primary;
  color: white;
  &:hover {
    background-color: $brand-primary-light;
    color: white;
  }
}

.btn-purchase-deal {
  background-color: $brand-warning;
  color: white;
  &:hover {
    background-color: lighten($brand-warning, 6.5%);
    color: white;
  }
}

.sale-text {
  color: $brand-warning;
}

.purchase-text {
  color: $brand-primary;
}

.result-price {
  color: $brand-success;
}

// sales -------------------------------------------------------------------------
.add-sale {
  position: fixed;
  bottom: 5%;
  right: 5%;
}

.plus-add-sale{
  color: blue;
  &:hover {
    color: orange;
  }
}

a#show-sale-link {
  color: black;
  text-decoration: none;
}

.sale-item {
  &:hover {
    box-shadow: 1px 1px 2px;
  }
}
